<h1>SixTones 私物一覧</h1>
<p>メンバー全員の私物一覧かつ、検索機能を使用して検索してください。</p>

<%= render 'layouts/search_form'%>

<% @articles.each do |article| %>
<h2>着用メンバー</h2>
<% member_ids = article.member_ids%>
<% member_ids.each do |id|%>
<% member = Member.find(id)%>
<P><%= member.name%>さん</P>
<% end %>
<p><%= article.brand %></p>
<%= link_to "詳細ページ", article_path(article.id)%>
<% end %>