@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Bonheur+Royale&family=Sacramento&family=Scheherazade+New&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Bonheur+Royale&family=Sacramento&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Bonheur+Royale&family=Montserrat:wght@300&family=Sacramento&family=Scheherazade+New&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Bonheur+Royale&family=Lato:wght@700&family=Montserrat:wght@300&family=Sacramento&family=Scheherazade+New&family=Tangerine:wght@700&display=swap');

h1, h3, h6,.home_btn,  .header .search_btn  {
  font-family: 'Noto Serif JP', sans-serif; 
}

.title h1 {
  font-family: 'Scheherazade New', serif;
}

.title h3, .logo  {
  font-family: 'Bonheur Royale', cursive;
}

body p {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background: white;
  min-height:600px;
  overflow-x: hidden;
  color: black;
  height: 100vh;
}

.content {
  min-height:550px;
  // width: 100%;
  text-align: center;
  justify-content: center;
}

.login-page {
  min-height:550px;
  width: 100%;
}

.cover {
  background-image: image-url('top_image2.jpg');
  margin-right: calc(50% - 50vw);
	margin-left: calc(50% - 50vw);
  height: 100%;
  /* (画像の高さ / 画像の横幅) × 100 */
  padding-top: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.cover h1 {
  position: absolute;
  top: 13%;
  left: 30%;
  font-weight: bold;
}

.cover h3 {
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: 2.9vw;
}

.introduction {
  width: 100%;
}

.home_btn {
  background-color: #FCE3E7 ;
  color: #770022;
}

.mark-box {
  position: relative;
}

.mark-box:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 100px 0 0;
  border-color: #f00 transparent transparent transparent;
}

.mark-box:after {
  position: absolute;
  content: "NEW";
  transform: rotate(315deg);
  display: block;
  font-size: 25px;
  white-space: pre;
  color: #fff;
  top: 12px;
  left: 4px;
  text-align: center;
  z-index: 2;
  line-height: 1.2;
}

.search_btn {
  text-align: center;
  border-radius: 8px;
}

.search_btn:hover {
  background-color: #FCE3E7;
  color: #111111;
}

.search_btn::after {
  transition: 0.5s;
  background-color: #FCE3E7;
}

.pagination {
  margin: 20px auto 0;
  width: 50%;
  display: flex;
  justify-content: center;
}

.pagination>li>a {          
  border: none;
  color: #770022;
}

.pagination>.active>.page-link {     
  background-color: #FCE3E7;
  border-radius: 30px;
}

.pagination>li>a:hover {        
  border-radius: 30px;
  background-color: #FCE3E7;
  color: #770022;
}

.footer_text p {
  color: #999999;
}

.alert p {
  font-size: 1.5rem
}

@media screen and (min-width:480px) {
  body p {
    font-size: 3.0rem;
    line-height:6.0rem;
  }

  h1 {
    font-size: 70px;
  }

  .cover h1 {
    font-size: 70px;
  }

  .nav-item a{
    font-size:  5.0vw;
  }

  .card-title{
    font-size: 70px;
  }

  .card {
    padding-bottom: 150px;
  }

  .home_btn {
    width: 100%;
    line-height: 400%;
  }

  .btn-coler {
    background-color: #FCE3E7;
    width: 100%;
    line-height: 250%;
    border-radius: 30px;
  }

  .report_area {
    width: 100%;
  }

  .search_btn{
    height: 4rem;
  }

  .form-control {
    font-size: 1.8rem;
    line-height:3.0rem;
  }

  .pagination {
    font-size: 30px;
  }

  .footer_text p {
    font-size: 1.8rem;
  }
}

@media screen and (min-width:768px) and (max-width:1024px) {
  body p {
    font-size: 3.0rem;
    line-height:4.0rem;
  }

  h1{
    font-size: 70px;
  }

  .cover h1 {
    font-size: 70px;
  }

  .introduction {
    font-size: 1.4rem;
    line-height:3.5rem;
  }

  .card {
    padding-bottom: 150px;
  }

  .card-title{
    font-size: 70px;
  }

  .nav-item a{
    font-size:  5.5vw;
  }
  .navbar-toggler-icon{
    border-color: rgba(0,0,0,0);
    size:  5.5vw;
  }

  .home_btn {
    width: 45%;
  }

  .btn-coler {
    background-color: #FCE3E7;
    width: 100%;
    line-height: 250%;
    border-radius: 30px;
  }

  .search_btn{
    height: 4rem;
  }

  .form-control {
    font-size: 1.8rem;
    line-height:3.0rem;
  }

  .pagination {
    font-size: 30px;
  }

  .footer_text p {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1024px) {
  body p {
    font-size: 1.2rem;
    line-height:2.0rem;
  }

  h1{
    font-size: 40px;
  }
  
  .cover h1 {
    font-size: 125px;
  }
  
  .nav-item a{
    font-size:  1.5vw;
  }
  
  .home_btn {
    width: 80%;
    line-height: 200%;
  }
  
  .cover h1 {
    left: 40%;
  }
  
  .card-title{
    font-size: 50px;
  }

  .home_btn {
    width: 20%;
  }

  .btn-coler {
    background-color: #FCE3E7;
    color: #111111;
    border-radius: 10px;
    width: 15%;
    line-height: 150%;
  }

  .btn-coler:hover {
    transition: 0.5s;
    background-color: #FCE3E7;
    color: #111111;
  }

  input[type="search"]{
    height: 2.5rem;
  }

  .search_btn{
    height: 2.5rem;
  }

  .card {
    padding-bottom: 75px;
  }

  .form-control {
    font-size: 1.0rem;
    line-height:1.7rem;
  }

  .pagination {
    font-size: 18px;
  }
  .footer_text p {
    font-size: 1.0rem;
  }
}
