/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

 .notification{
  background-color: #999999;
  color: white;
  font-size: 1rem;
}

 body{
   margin: 0;
   background: #111111;
   position: relative;
   color: white;
 }

 .content{
  min-height:450px;
  height:auto !important;
  height:4500px;
 }

// .img-hidden {　これimageに使用する？
//   height: 500px;
//   overflow: hidden;
// }

.pagination>li>a {          
  border: none;     
  color: #696969;   
}

.pagination>.active>a {     
  background: #93c9ff;     
  border-radius: 15px;     
}

.pagination>li>a:hover {        
  border-radius: 15px;   
}

.pagination {
  justify-content: center;
}
